# Inspiration

The dataset is large and informative, I believe you can have a lot of fun with it! Let me put some ideas below to futher inspire kagglers!

Fit a regression model on reviews and score to see which words are more indicative to a higher/lower score
Perform a sentiment analysis on the reviews
Find correlation between reviewer's nationality and scores.
Beautiful and informative visualization on the dataset.
Clustering hotels based on reviews
Simple recommendation engine to the guest who is fond of a special characteristic of hotel.

In [9]:
# Importing Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
# Import csv file
df = pd.read_csv('csv/Hotel_Reviews.csv')

# Initial EDA

## Understand Dataset

In [11]:
# Taking a lot at the dataset
df.head(5)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [12]:
# Checking null values
df.isna().sum()

Hotel_Address                                    0
Additional_Number_of_Scoring                     0
Review_Date                                      0
Average_Score                                    0
Hotel_Name                                       0
Reviewer_Nationality                             0
Negative_Review                                  0
Review_Total_Negative_Word_Counts                0
Total_Number_of_Reviews                          0
Positive_Review                                  0
Review_Total_Positive_Word_Counts                0
Total_Number_of_Reviews_Reviewer_Has_Given       0
Reviewer_Score                                   0
Tags                                             0
days_since_review                                0
lat                                           3268
lng                                           3268
dtype: int64

In [13]:
# Checking how many hotels in this dataset
len(df.Hotel_Name.unique())

1492

### Findings:

- There are reviews from 1,492 hotels
- The data is fairly clean. It doesn't much null values
- It's missing the cities where the hotels are located.
- There are reviews without the latitude and longitude.

## Data Cleaning

In [59]:
# Create a column with the city
str(df['Hotel_Address'])

'0          s Gravesandestraat 55 Oost 1092 AA Amsterdam ...\n1          s Gravesandestraat 55 Oost 1092 AA Amsterdam ...\n2          s Gravesandestraat 55 Oost 1092 AA Amsterdam ...\n3          s Gravesandestraat 55 Oost 1092 AA Amsterdam ...\n4          s Gravesandestraat 55 Oost 1092 AA Amsterdam ...\n                                ...                        \n515733    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...\n515734    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...\n515735    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...\n515736    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...\n515737    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...\nName: Hotel_Address, Length: 515738, dtype: object'

# Stretch Goals

- Get latitude and longitude for hotels that are missing this information
- People might base their review on an isolated bad experience

In [16]:
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

In [ ]:
# Checking rows where the values are null
df['Hotel_Address'][1:][df.isnull().any(axis=1)].head()

In [53]:
geolocator = Nominatim(user_agent="test")

geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
df['location'] = df['Hotel_Address'][1:][df.isnull().any(axis=1)].head().head().apply(geocode)

df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

AttributeError: 'float' object has no attribute 'point'

In [43]:
df['Hotel_Address'][df.isnull().any(axis=1)].head()

                                       Hotel_Address
0   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
1   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
2   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
3   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
4   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...