In [192]:
import pandas as pd
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import plotly_express as px
import tqdm
from tqdm._tqdm_notebook import tqdm_notebook

In [193]:
df = pd.read_csv('../csv/Hotel_Reviews.csv')

In [194]:
df.isna().sum()

Hotel_Address                                    0
Additional_Number_of_Scoring                     0
Review_Date                                      0
Average_Score                                    0
Hotel_Name                                       0
Reviewer_Nationality                             0
Negative_Review                                  0
Review_Total_Negative_Word_Counts                0
Total_Number_of_Reviews                          0
Positive_Review                                  0
Review_Total_Positive_Word_Counts                0
Total_Number_of_Reviews_Reviewer_Has_Given       0
Reviewer_Score                                   0
Tags                                             0
days_since_review                                0
lat                                           3268
lng                                           3268
dtype: int64

In [195]:
df.dropna(inplace=True)

In [187]:
# Reducing the size of the dataframe to 20%
df = df.sample(frac=0.01, random_state=1)

In [196]:
df.shape

(512470, 17)

In [197]:
df['geom'] = df['lat'].map(str) + ',' + df['lng'].map(str)

In [214]:
unique_geom = df['geom'].unique()

In [218]:
unique_geom_df = pd.DataFrame(unique_geom)
unique_geom_df[0]

0           52.36057589999999,4.915968299999999
1        51.49188779999999,-0.19497060000000002
2               51.5137335,-0.10875119999999999
3       51.514218400000004,-0.18090320000000001
4                  48.874348100000006,2.2897334
                         ...
1467                      48.1935235,16.3669145
1468              48.2104468,16.371578099999997
1469            51.5020912,-0.15777950000000002
1470             51.499981,-0.19287910000000003
1471                      48.2037451,16.3356767
Name: 0, Length: 1472, dtype: object

In [224]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
def city(coord):
    location = geolocator.reverse(coord, exactly_one=True)
    address = location.raw['address']
    city = address.get('city', '')
    return city

def state(coord):
    location = geolocator.reverse(coord, exactly_one=True)
    address = location.raw['address']
    state = address.get('state', '')
    return state

def country(coord):
    location = geolocator.reverse(coord, exactly_one=True)
    address = location.raw['address']
    state = address.get('country', '')
    return state

In [219]:
df['city'] = unique_geom_df[0].apply(city)

In [225]:
df['country'] = unique_geom_df[0].apply(country)

In [227]:
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,...,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,geom,city,state,country
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,...,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,"52.36057589999999,4.915968299999999",Amsterdam,None,Nederland
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,...,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,"52.36057589999999,4.915968299999999",London,None,United Kingdom
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,...,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,"52.36057589999999,4.915968299999999",City of London,None,United Kingdom
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,...,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,"52.36057589999999,4.915968299999999",City of Westminster,None,United Kingdom
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,...,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,"52.36057589999999,4.915968299999999",Paris,None,France

In [182]:
df.to_csv('../csv/hotel_city.csv')